/* @tailwind base;
@tailwind components;
@tailwind utilities; */


/* Basic styling for the container and cards */
/*body {
    font-family: Arial, sans-serif;
    background-color: #EFC69B;
 }
 
 
#container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
 }
 

 
 
 .card {
    width: 40rem;
    max-width: 400px;
    height: auto;
    background-color: #AF1B3F;
    border-style: double;
    border-color: #473144;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: transform 0.2s ease-in-out;
 }
 
 
 .card:hover {
    transform: scale(1.05);
 }
 
 
 .card h3 {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #DF9B6D;
 }
 
 
 .card p {
    color: #CCB69B;
    font-size: 1rem;
    margin: 5px 0;
 }
 
 */
